<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zhaiyifan.interestingtitlebar.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="cn.zhaiyifan.interestingtitlebar.demo.DemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.zhaiyifan.interestingtitlebar.demo.DemoActivity2"
            android:label="DemoActivity2" />
        <activity
            android:name="cn.zhaiyifan.interestingtitlebar.demo.DemoActivity3"
            android:label="DemoActivity3" />
    </application>

</manifest>
